body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.116);
}

form {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.021);
  padding: 20px;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.911);
}

h2 {
  color: rgba (0, 0, 0, 0.041);
  text-align: center;
}

fieldset {
  border: 30px groove rgb(135, 178, 235);
  border-radius: 50px;
  border-top: 10px solid rgba;
  border-bottom: 10px solid rgba;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 248, 240, 0);
}

legend {
  font-weight: bolder;
  text-align: calc();
  color: rgba(29, 34, 34, 0.973);
}

label {
  display: block;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.952);
}

input,
textarea {
  margin-top: 10px;
  padding: 8px;
  width: calc(100% - 1px);
  border: 1px solid rgb(135, 178, 235);
  border-radius: 100px;
  border-bottom: 5px groove rgba(76, 74, 233, 0.575);
  border-top: 5px groove rgba(76, 74, 233, 0.575);
  box-sizing: content-box;
}

button {
  display: block;
  width: 100%;
  background-color: rgb(135, 178, 235);
  color: black;
  border: none;
  border-radius: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  cursor: pointer;
}

button :hover {
  color: rgb(50, 6, 92);
}

#Resume-preview {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid rgba(10, 0, 155, 0.555);
  border-radius: 50px;
  background-color: rgb(135, 178, 235);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* making editable resume*/
  outline: none;
}

#Resume-preview h2 {
  color: black;
}
